<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Posts Archive | Atrion's Blog</title>
  <link rel="stylesheet" href="/blog/assets/css/style.css">
</head>
<body>
  <header>
  </header>

    <nav class="navbar">
      <a href="/">Linktree</a> |
      <a href="/blog/index">Home</a> |
      <a href="/blog/blog">Blog Archive</a> |
      <a href="/blog/manifesto">Manifesto</a> |
      <a href="/blog/writings">Writings</a> |
      <a href="/blog/tags">Tags</a> |
      <a href="/blog/about">About</a> |
      <a href="/blog/links">Links</a> 
    </nav>


  <main class="container">
    
  <header class="page-header">
    <h1 class="page-title">Blog Posts Archive</h1>
  </header>
  
    <main class="page-content">
  <article class="post">
<!--    <h1 class="post-title">Blog Posts Archive</h1>
    <p class="post-date"></p> -->
    <div class="writing-container">
      
<p>{% assign posts_by_year = site.posts | group_by_exp: “post”, “post.date | date: ‘%Y’” %}
{% for year_group in posts_by_year %}</p>
<h2>{{ year_group.name }}</h2>

<p>{% assign posts_by_month = year_group.items | group_by_exp: “post”, “post.date | date: ‘%B’” %}
  {% for month_group in posts_by_month %}
    &lt;h3&gt;{{ month_group.name }}&lt;/h3&gt;
    &lt;ul&gt;
      {% for post in month_group.items %}
        &lt;li&gt;
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a> -
          {{ post.date | date: “%B %d, %Y at %I:%M %p” }}
        &lt;/li&gt;
      {% endfor %}
    &lt;/ul&gt;
  {% endfor %}
{% endfor %}</p>

    </div>
  </article>
</main>

  </main>

  <footer>
    <p>© Atrion Darnay 2025. All rights reserved.</p>
  </footer>

  

</body>
</html>