{% if page.tags and page.tags != empty %}
  <div class="content-tags">
    <hr>

    <p class="tag-links">
      <strong>Tags:</strong>

      {% for tag in page.tags %}
        {% assign tag_slug = tag | slugify %}
        {% assign tag_info = site.data.tags | where: "slug", tag_slug | first %}

        {% if tag_info %}
          {% assign tag_label = tag_info.label %}
        {% else %}
          {% assign tag_label = tag %}
        {% endif %}

        <a class="tag-link"
           href="{{ '/tags/#' | append: tag_slug | relative_url }}">
          {{ tag_label }}
        </a>{% unless forloop.last %}<span aria-hidden="true">, </span>{% endunless %}
      {% endfor %}
    </p>
  </div>
{% endif %}