---
layout: default
---

<article class="project">
<!--  <h1>{{ page.title }}</h1> -->

  {% if page.image %}
    <div class="project-cover">
      <img
        src="{{ page.image | relative_url }}"
        alt="{{ page.title | escape }}">
    </div>
  {% endif %}

  {% if page.updated %}
    <p class="updated-date">
      Last updated on {{ page.updated | date: "%B %d, %Y" }}
    </p>
  {% endif %}

  <div class="project-content">
    {{ content }}
  </div>

  {% include tag-list.html %}
</article>